[submodule "bundle/vim-tex-syntax"]
	path = bundle/vim-tex-syntax
	url = git@github.com:gerw/vim-tex-syntax.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "bundle/EnhCommentify"]
	path = bundle/EnhCommentify
	url = git@github.com:gerw/EnhCommentify.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/vim-HiLinkTrace"]
	path = bundle/vim-HiLinkTrace
	url = git@github.com:gerw/vim-HiLinkTrace.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = git@github.com:gerw/vim-latex-suite.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:gerw/vim-colors-solarized.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
